*{
    margin: 0;
    padding: 0;
    font-family: gotham;

}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    position: relative;
}
/* nav */
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 100px;
    height: 50px;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover{
    color: #363d7c;
}
/* paragraph */
.para{
    margin-left: 8%;
    margin-top: 15%;
}

.para h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span{
    color: #363d7c;
    
}

.para p{
    color: #555;
    line-height: 22px;
}

.para a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
/* images with hover */
.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape{
    bottom: 40px;
}

.images:hover .guy{
    left: 35%;
}


/* CSS for about page starts */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
    position: relative;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 100px;
    height: 50px;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover{
    color: #363d7c;
}

.about-wrapper{
    height: 100vh;
}
.about-left{
    background: rgb(82,220,223);
    background: linear-gradient(90deg, rgba(82,220,223,1) 0%, rgba(170,83,177,1) 35%, rgba(237,65,255,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.about-left-content > div{
    background: rgb(82,220,223);
    background: linear-gradient(90deg, rgba(82,220,223,1) 0%, rgba(170,83,177,1) 35%, rgba(237,65,255,1) 100%);
    padding: 4rem 4rem 2.5rem 5rem;
    text-align: center;
}
.about-img img{
    display: block;
    width: 200px;
}
.about-img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 1s ease-in-out;
}
.shadow{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
}
.shadow::after{
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    height: 7px;
    width: 50px;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    opacity: 0;
    transition: all 0.6s ease;
}
.shadow:hover .about-img{
    transform: translateY(-10px);
}
.shadow:hover::after{
    opacity: 1;
}

.about{
    background: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    text-align: center;
}
.about h1{
    font-size: 7rem;
}
.about h1 span{
    color: purple;
}
.about h2{
    font-weight: 450;
}

.about-para p{
    font-weight: 300;
    padding: 0.5rem;
    opacity: 0.8;
}

@media screen and (min-width: 992px){
    .about-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .about-left{
        position: relative;
    }
    .about-left-content{
        position: absolute;
        right: -50px;
    }

    /* Contact page section */
    
    .header{
        height: 10vh;
        width: 100%;
        background-position: center;
        background-size: cover;
        text-align: center;
        color: #fff;
    }
    .contact-h1{
        padding-top: 200px;
        padding-left: 800px;
        font-size: 50px;
    }
  .contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
    padding-top: 50px;
  }
  
  .contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: transparent;
    border: #001d3d solid;
    padding: 20px 40px;
    outline: none;
    color: black;
    transition: 0.5s;
  }

  textarea.contact-form-text{
    resize: none;
    height: 120px;
  }
  .contact-form-btn{
    float: right;
    border: 0;
    background: #b19cd9;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  .contact-form-btn:hover{
    background: powderblue;
  }